/* RESETS */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* REVIEWS */
.container {
  max-width: 1100px;
  padding: 0 10px;
  margin: 0 auto;
}
.reviews {
  background-color: rgb(247, 245, 243);
}
.reviews__inner {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.reviews__h2 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  font-family: sans-serif;
  margin-bottom: 40px;
  text-wrap-mode: nowrap;
}
.reviews__items {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.review__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 350px;
  box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.028);

  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}
.item__p {
  color: rgb(138, 138, 137);
  font-family: sans-serif;
  font-size: 15px;
  font-weight: normal;
}
.item__about {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
}
.about__img {
  border-radius: 50%;
  border: 2px solid orange;
}
.list__item-who {
  margin-bottom: 7px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
}
.list__item-position {
  color: rgb(138, 138, 137);
  font-weight: normal;
  font-family: sans-serif;
  font-size: 14px;
}
.reviews__bottom {
  width: 100%;
  margin-top: 20px;
  text-align: left;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 15px;
}
.bottom__link {
  color: orange;
  font-size: 15px;
}
